div#contactContainer {
  display: block;
  margin: 0 auto;
  min-height: 75vh;
  width: 100%; }
  div#contactContainer form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    min-height: 100%; }
    div#contactContainer form h4 {
      font-size: 1rem;
      font-weight: 500;
      margin-top: 1rem;
      text-align: center; }
      div#contactContainer form h4:last-child {
        margin-top: .5rem; }
    div#contactContainer form ul {
      padding: .5rem; }
      div#contactContainer form ul .errorsAndButton {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between; }
        div#contactContainer form ul .errorsAndButton div {
          max-width: 20vw; }
      div#contactContainer form ul li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: column nowrap;
        margin: 1rem 2rem;
        overflow: hidden; }
        div#contactContainer form ul li ul#notice {
          color: red;
          font-size: 1.5rem; }
        div#contactContainer form ul li label {
          flex: 1 2 0;
          padding: .2rem 1rem .3rem 0;
          font-size: 1rem;
          font-weight: 200;
          align-self: flex-start;
          color: black;
          letter-spacing: 1.5px;
          opacity: 0;
          transition: all .5s; }
        div#contactContainer form ul li input::placeholder,
        div#contactContainer form ul li textarea::placeholder {
          color: black;
          letter-spacing: .7px; }
        div#contactContainer form ul li input,
        div#contactContainer form ul li textarea {
          flex: 2 0 0;
          width: 100%;
          background-color: #F5D730;
          font-size: 1.3rem;
          padding: .4rem;
          margin: .5rem 0 .2rem;
          border: none;
          border-bottom: 2px solid black;
          color: black; }
        div#contactContainer form ul li textarea {
          margin-bottom: 1vh;
          min-height: 50px;
          max-width: 100%; }
        div#contactContainer form ul li input:focus + label,
        div#contactContainer form ul li input:active + label {
          opacity: 1; }
        div#contactContainer form ul li a {
          color: black;
          padding: .5rem 0;
          margin-left: .5rem;
          text-decoration: none; }
          div#contactContainer form ul li a:hover {
            font-family: 200;
            cursor: pointer;
            border-bottom: 2px solid black;
            padding-bottom: .35rem; }
        div#contactContainer form ul li p.error {
          color: red; }
        div#contactContainer form ul li span {
          color: black;
          align-self: center;
          font-size: 1.8rem;
          padding-top: .5rem;
          padding-bottom: 1rem; }
        div#contactContainer form ul li button[type="submit"] {
          flex: 1 0 0;
          align-self: flex-end;
          border: 1px solid black;
          min-width: 15vw;
          max-width: 20vw;
          margin: .5rem;
          background-color: tomato;
          color: black;
          font-size: 1.4rem;
          font-weight: 200;
          letter-spacing: .1rem;
          padding: 2vh 2vw;
          box-shadow: 5px 5px 5px black;
          transition: background-color .5s, color .5s; }
          div#contactContainer form ul li button[type="submit"]:hover {
            background-color: white;
            color: black;
            cursor: pointer; }
          div#contactContainer form ul li button[type="submit"]:active {
            background-color: #ff0a0a; }

@media (max-width: 600px) {
  div#contactContainer {
    width: 100%; }
    div#contactContainer form ul li span {
      font-size: 1.2rem;
      line-height: 1.5rem; }
    div#contactContainer form ul li label,
    div#contactContainer form ul li input[type="text"],
    div#contactContainer form ul li input[type="password"],
    div#contactContainer form ul li textarea {
      font-size: 1rem; }
    div#contactContainer form ul li button[type="submit"] {
      min-width: 95%;
      font-size: 1rem; } }
