// global styling

div#contactContainer {
  // background-color: orange;
  display: block;
  margin: 0 auto;
  min-height: 75vh;
  width: 100%;


  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    min-height: 100%;
    // margin: 1vh ;


    // border: 1px solid yellow;
    // align-items: center;

    h4 {
      font-size: 1rem;
      font-weight: 500;
      margin-top: 1rem;
      text-align: center;

      &:last-child {
        margin-top: .5rem;
      }
    }

    ul {
      // align-self: center;
      // text-align: center;
      // background-color: teal;
      padding: .5rem;


      .errorsAndButton {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        // border: 1px solid pink;

        div {
          max-width: 20vw;
        }
      }

      li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: column nowrap;
        margin: 1rem 2rem;
        overflow: hidden;
        // border: 1px solid pink;

        ul#notice {
          color: red;
          font-size: 1.5rem;
        }

        label {
          flex: 1 2 0;
          padding: .2rem 1rem .3rem 0;
          font-size: 1rem;
          font-weight: 200;
          align-self: flex-start;
          color: black;
          letter-spacing: 1.5px;
          opacity: 0;
          transition: all .5s;
        }

        input::placeholder,
        textarea::placeholder {
          color: black;
          letter-spacing: .7px;
        }

        input,
        textarea {
          flex: 2 0 0;
          width: 100%;
          background-color: #F5D730;
          font-size: 1.3rem;
          padding: .4rem;
          margin: .5rem 0 .2rem;
          border: none;
          border-bottom: 2px solid black;
          color: black;
        }

        textarea {
          margin-bottom: 1vh;
          min-height: 50px;
          max-width: 100%;
        }

        input:focus + label,
        input:active + label {
            opacity: 1;
        }

        a {
          color: black;
          padding: .5rem 0;
          margin-left: .5rem;
          text-decoration: none;

          &:hover {
            font-family: 200;
            cursor: pointer;
            border-bottom: 2px solid black;
            padding-bottom: .35rem;
          }
        }

        p.error {
          color: red;
        }

        span {
          color: black;
          align-self: center;
          font-size: 1.8rem;
          padding-top: .5rem;
          padding-bottom: 1rem;
        }

        button[type="submit"] {
          flex: 1 0 0;
          align-self: flex-end;
          border: 1px solid black;
          min-width: 15vw;
          max-width: 20vw;
          margin: .5rem;
          background-color: tomato;
          color: black;
          font-size: 1.4rem;
          font-weight: 200;
          letter-spacing: .1rem;
          padding: 2vh 2vw;
          box-shadow: 5px 5px 5px black;
          transition: background-color .5s, color .5s;

          &:hover {
            background-color: white;
            color: black;
            cursor: pointer;
          }

          &:active {
            background-color: rgba(255,10,10,1);
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  div#contactContainer {
    // min-width: 95%;
    // margin: .5vh 3vw;
    width: 100%;

    form {
      // width: 95%;


      ul {
        li {
          span {
            font-size: 1.2rem;
            line-height: 1.5rem;
          }
          label,
          input[type="text"],
          input[type="password"],
          textarea {
            font-size: 1rem;
          }
          button[type="submit"] {
            min-width: 95%;
            font-size: 1rem;
            // background-color: yellow;
          }
        }
      }
    }

  }
}
