.footer {
	width: 100%;
	margin-top: 70px;
	// border-top: 2px solid black;

	&__p {
		font-size: 15px;
		text-align: right;
		margin-right: 25px;
		margin-top: 25px;
	}

	&__a {
		text-decoration: none;
		color: black;
		transition: .3s;

		&:hover {
			border-bottom: 2px solid black;
		}
	}

}

hr {
	background-color: black;
}