.nav {
  display: flex;
  justify-content: center;
  width: calc(100% - 40px);
  height: 100px;
  margin-top: 25px; }
  .nav__list {
    align-items: center;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    height: 80px;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0; }
  .nav__list--logo {
    align-items: center;
    appearance: none;
    display: flex;
    flex: 1;
    justify-content: center;
    text-decoration: none; }
  .nav__item {
    padding: 0;
    align-self: center;
    white-space: nowrap; }
    .nav__item--logo {
      margin: 0;
      padding: 0; }
    .nav__item--margin-left-auto {
      margin-left: auto; }
    .nav__item--margin-right-auto {
      margin-right: auto; }
  .nav__link {
    text-decoration: none;
    appearance: none;
    color: black;
    border-bottom: 2px solid #F5D730;
    font-size: 18px;
    margin: 0 15px;
    transition: all 1s;
    padding: 0; }
    .nav__link--logo {
      font-family: 'FolioLightItalic';
      font-size: 50px; }
    .nav__link:hover {
      border-bottom: 2px solid black; }
    .nav__link.active {
      border-bottom: 2px solid black; }
    .nav__link__title {
      color: black;
      border-bottom: 3px solid #F5D730;
      white-space: nowrap;
      padding-bottom: 3px;
      transition: all .5s; }
      .nav__link__title:hover {
        border-bottom: 3px solid black; }

@media (max-width: 900px) {
  .nav {
    margin-top: 15px; }
    .nav__link {
      text-decoration: none;
      appearance: none;
      color: black;
      border-bottom: 2px solid #F5D730;
      font-size: 20px;
      margin: 0 15px;
      transition: all 1s;
      padding: 0; }
      .nav__link--logo {
        font-size: 45px; } }

@media (max-width: 750px) {
  .nav {
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px; }
    .nav__list {
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      order: 2;
      margin-bottom: 30px; }
    .nav__list--logo {
      order: 1;
      margin-bottom: 35px; }
    .nav__item--margin-left-auto {
      margin-left: 0; }
    .nav__item--margin-right-auto {
      margin-right: 0; }
    .nav__link {
      font-size: 22px; }
      .nav__link--logo {
        font-size: 40px; } }
