.div--container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.section__heading {
  font-size: 40px;
  color: tomato; }

.menu__heading {
  font-size: 25px; }

.menu__list {
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 25px; }

.menu__item {
  display: flex;
  justify-content: center;
  margin-right: 45px; }

.menu__title {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  transition: background-color .3s, color .3s, transform .1s, box-shadow .1s; }
  .menu__title:hover,
  .menu__title .active {
    background-color: tomato;
    color: white; }
  .menu__title:focus, .menu__title:active {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 3px black; }

.links__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%; }

.links__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px; }
  .links__item--date {
    font-size: 20px;
    margin-bottom: 10px;
    color: tomato; }
  .links__item--link {
    text-decoration: none;
    font-size: 25px;
    color: black;
    margin-bottom: 10px; }
  .links__item--title {
    border-bottom: 2px solid #F5D730;
    padding-bottom: 2px;
    line-height: 35px;
    transition: all .5s;
    display: inline; }
    .links__item--title:hover {
      border-bottom: 2px solid black; }
  .links__item--author, .links__item--source {
    font-size: 15px;
    margin-bottom: 1px; }
